@import 'reset';
.fotter{
	position: relative;
    padding: 20px 0;
    min-width: 1160px;
    .fotter-max{
    	margin: 0 auto;
    	width: 1160px;
    	h2{
    	 	line-height: 80px;
	    	float: left;
		    font-size: 28px;
		    line-height: 100px;
	    }
	    img{
	    	float: right;
	    	display: inline-block;
		    width: 80px;
		    height: 80px;
	    }
    }
   
}